# === C++ Binaries and Build Artifacts ===
/minimax/minimax
/minimax/minimax_debug
/minimax/server
/minimax/search_benchmark
/minimax/build/
/minimax/build_debug/
/minimax/doublethree_test
*.o
*.obj
*.so
*.exe
*.dll
a.out

# === Environment Files ===
.env
.env.*
!.env.example
url.txt

# === Python ===

# Virtual environments
.venv/
venv/

 Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
*.egg-info/
*.egg
*.whl
dist/
build/

# Jupyter notebooks
*.ipynb_checkpoints

# pytest
.cache/
.pytest_cache/

# MyPy / coverage / profiling
.mypy_cache/
.coverage
htmlcov/
.prof

# VS Code
.vscode/
*.code-workspace

# OS/system files
.DS_Store
Thumbs.db

# Logs
*.log
log/
logs/


# alphazero

alphazero/runs/**
!alphazero/runs
alphazero/cpp/build/
alphazero/gomoku/cpp_ext/*
!alphazero/gomoku/cpp_ext/.gitkeep
alphazero/infra/cluster/.cluster_elo1800.resolved.yaml
