@import "primeicons/primeicons.css";

.p-togglebutton {
  background-color: black !important;
  color: white !important;
  .p-togglebutton-icon {
    color: white !important;
  }
}
.p-togglebutton.p-togglebutton-checked {
  background-color: black !important;
  color: black !important;
  .p-togglebutton-icon {
    color: black !important;
  }
}

.docs-content .katex-display {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}
